<!DOCTYPE html>
<html>
<head>
    <title>Bridge Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>

<div id="role-selection" class="centered-container">
    <div class="role-card">
        <h1>Select Your Role</h1>
        <select id="role-dropdown"></select>
        <button id="join-button" onclick="joinGame()" disabled>Join</button>
    </div>
</div>


<div id="lobby" style="display: none;">
  <h1 style="text-align: center;">Your Role: <span id="your-role">Spectator</span></h1>
  <ul id="player-status" class="status-list"></ul>
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <button id="ready-btn" class="ready-button" onclick="toggleReady()">Ready</button>
  </div>
</div>


<div id="auction" style="display: none;">
    <h1>Auction Phase</h1>
    <h2>Your role: <span id="your-role-bid">Spectator</span></h2>
    <h3>Turn: <span id="curr-turn">-</span></h3>
    <h4>Contract: <span id="contract">-</span></h4>

    <div id="your-auction-hand" class="card-hand horizontal" style="margin-bottom: 30px;"></div>

    <!-- bidding table -->
    <div class="center">
        <table class="bidding-table" id="bidding-history"></table>
        <form class="bidding-buttons" onsubmit="return false;">
            <table id="bidding-buttons-table"></table>
            <div class="special-actions">
                <button type="button" id="bid-pass" onclick="makeBidFromButton('PASS')">PASS</button>
                <button type="button" id="bid-x" onclick="makeBidFromButton('X')">X</button>
                <button type="button" id="bid-xx" onclick="makeBidFromButton('XX')">XX</button>
            </div>
        </form>
    </div>
</div>


<div id="play" style="display: none;">
    <h1>Play Phase</h1>
    <h2>Your role: <span id="your-role-play">Spectator</span></h2>
    <h2>Turn: <span id="curr-turn-play">-</span></h2>
    <h3>Tricks NS: <span id="tricks-ns">-</span></h3>
    <h3>Tricks WE: <span id="tricks-we">-</span></h3>

    <div class="table-container-wrapper">
        <div class="table-container" id="hands-view">
            <!-- hands rendered dynamically -->
        </div>
        <div id="trick-center"></div>
    </div>

</div>

<div id="score" style="display: none;">
    <h1>Round scores</h1>
    <h3>Tricks NS: <span id="tricks-ns-score">-</span></h3>
    <h3>Tricks WE: <span id="tricks-we-score">-</span></h3>
    <h4>Contract: <span id="contract-score">-</span></h4>
    <span id="score-display">-</span>
    <br>
    <button id="end-scores-btn" onclick="endScores()">Continue</button>
</div>

<div id="game-over" style="display: none;">
    <h1>Game finished</h1>
    <h2>Final scores: </h2><br>
    <span id="final-score-display">-</span><br>
    <h3>Thanks for playing!</h3>
</div>

<script src="/static/client.js"></script>
</body>
</html>
